* {
  margin:0;
  padding:0;
  font-family: monospace;
}
h1  {
  color: orange;
  font-size: 45px;
  padding-top: 40px;
}
a {
  text-decoration: none;
}
h2 {
  padding:10px;
  color: white;
}

/*navbar start*/
.navbar {
	float:left;
	width: 1050px;
}

.navbar__ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #121a3a;
}
.navbar__li {
    float: left;
}

.navbar__li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar__li a:hover {
    background-color: #0c1228;
}
/*navbar end*/

#reccomended {
  padding-top:50px;
  padding-left: 20px;
  padding-bottom: 10px;

}
body {
  background-image: url(../images/bg.jpg);
  background-size:auto;
  background-repeat: no-repeat;
  height: 1000px;
}
.container {
  height:800px;
  width:1050px;
  margin:auto;
}
.head {
  height: 150px;
  width: 1050px;
  background-color: dimgray;
  background-image: url(../images/headerbg.jpg);
}
.content {
  height: 800px;
  width: 1050px;
  float: left;
  background-color: dimgray;
  margin-top: 5px;
  margin-bottom: 5px;
  background-image: url(../images/bgn.jpg);
  background-size: contain;
}
#footer {
  float: left;
  margin: auto;
  height: 40px;
  width: 1050px;
  border: 3px solid gray;
  background-color: dimgray;
}
.Website__name {
	float:left;
	width: 500px;
	margin-left: 20px;
}
.logo img{
  width: 150px;
  height: 150px;
}
.logo {
  width: 150px;
  float: left;
}
.movie_poster {
  width:170px;
  height:250px;
}
.movies  {
  display: flex;
}
.movies img {
  padding: 5px;
}
.section {
  padding-right: 15px;
}
.BIGBOX {
    width: 1050px;
    margin:auto;
    float:left;
    height: 775px;
  }
.section  {
    display:inline-block;
    margin: 5px;
    vertical-align: top;
    width: 160px;
    height: 320px;
    margin-left: 72px;
  }
